body{
    background-color: rgb(47, 47, 109);
}

.mao{
    height: 210px;
    width: 800px;
    background-color: rgb(116, 201, 235);
    border: 3px solid black;
    display: flex;
}

.campo{
    height: 210px;
    width: 1000px;
    background-color: rgb(194, 83, 98);
    border: 3px solid black;
    display: flex;
}

.terreno{
    height: 210px;
    width: 1000px;
    background-color: rgb(73, 73, 207);
    border: 3px solid black;
    display: flex;
}

.cartas{
    position: relative;
    height: 200px;
    width: 100px;
    margin: 5px;
    background-color: bisque;
}

.cardPW{
    position: absolute;
    bottom: 0;
    right: 0;
}